<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Forgot Password</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="name@email.com" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z0-9.-_]{2,}[.]{1}[a-zA-Z]{2,}"  required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is required.</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Secutiy Question</mat-label>
                        <mat-select matInput formControlName="securityQuestion" placeholder="The name of your first pet?" required>
                            <mat-option value="The name of your first pet?">The name of your first pet?</mat-option>
                            <mat-option value="The name of your high school?">The name of your high school?</mat-option>
                            <mat-option value="Your mother's maiden name?">Your mother's maiden name?</mat-option>
                            <mat-option value="Your grandfather's occupation?">Your grandfather's occupation?</mat-option>
                            <mat-option value="Model of your first car?">Model of your first car?</mat-option>
                        </mat-select>
                <mat-error *ngIf="forgotPasswordForm.controls.securityQuestion.touched && forgotPasswordForm.controls.securityQuestion.invalid">
                    <span *ngIf="forgotPasswordForm.controls.securityQuestion.errors.required">This field is required.</span>
                    <span *ngIf="forgotPasswordForm.controls.securityQuestion.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Security Question Answer</mat-label>
                <input matInput formControlName="securityQuestionAnswer" placeholder="Fido" required>
                <mat-error *ngIf="forgotPasswordForm.controls.securityQuestionAnswer.touched && forgotPasswordForm.controls.securityQuestionAnswer.invalid">
                    <span *ngIf="forgotPasswordForm.controls.securityQuestionAnswer.errors.required">This field is required.</span>
                    <span *ngIf="forgotPasswordForm.controls.securityQuestionAnswer.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" type="password" id="newPassword" placeholder="*******" required>
                <mat-icon (click)="viewNewPassword()" class="verification">visibility</mat-icon>
                <mat-error *ngIf="forgotPasswordForm.controls.newPassword.touched && forgotPasswordForm.controls.newPassword.invalid">
                    <span *ngIf="forgotPasswordForm.controls.newPassword.error.required">This field is required.</span>
                </mat-error>
            </mat-form-field>
       

            
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Confirm Password</mat-label><br>
                <input matInput formControlName="confirmPassword" type="password" id="confirmPassword" placeholder="*******" required>
                <mat-icon (click)="viewConfirmPassword()" class="verification">visibility</mat-icon>
                <mat-error *ngIf="forgotPasswordForm.controls.confirmPassword.touched && forgotPasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="forgotPasswordForm.controls.confirmPassword.error.required">This field is required.</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(forgotPasswordForm.controls.confirmPassword.invalid)">
                    <span>Passwords Do Not Match. Please Re-Enter Passwords.</span>
                </mat-hint>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleForgotPasswordSubmit()" [disabled]="validateSubmit() || !(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Reset Password</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </mat-dialog-actions>
