.title{
  padding:15px;
    height: 70px;
    font-size: 25px;
    text-align: left;
}

.float-right{
    float: right;
}

table{
    width: 100%;
}

mat-card{
    padding-bottom: 30px !important;
}



  .mat-row {
    border: 1px solid #e0e0e0;
    }

    .input {
      padding-right: 10px;
      }
