

<div class="wrapper sticky">
  <nav class="navbar">
    <a href="#" class="logo">
      The Tool Store
    </a>
    <ul class="headerLinks">
      <li><a (click)="signupAction()">Sign Up</a></li>
      <li><a (click)="forgotPasswordAction()">Forgot Password</a></li>
      <li><a (click)="loginAction()">Login</a></li>
    </ul>
  </nav>
</div>

<body>
  <h1 class="fade-in1" (click)="loginAction()">The Tool Store</h1><br>
</body>

<footer class="footbar wrapper">
  <a class=footerLinks (click)="contactUsAction()">Contact Us</a>
</footer>

	