<mat-toolbar color="primary">
<mat-toolbar-row fxLayout="row">
    <span class="title-center" color="primary">Reset Password</span>
</mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content>
    <form [formGroup]="ResetPasswordForm">
        <div fxFlex fxLayout="column">
            
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="oldPassword" type="password" id="oldPassword"  required>
                <mat-icon (click)="viewOldPassword()" class="verification">visibility</mat-icon>
                <mat-error *ngIf="ResetPasswordForm.controls.oldPassword.touched && ResetPasswordForm.controls.oldPassword.invalid">
                    <span *ngIf="ResetPasswordForm.controls.oldPassword.error.required">This field is required.</span>
                </mat-error>
            </mat-form-field>
       

       
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" type="password" id="newPassword" required>
                <mat-icon (click)="viewNewPassword()" class="verification">visibility</mat-icon>
                <mat-error *ngIf="ResetPasswordForm.controls.newPassword.touched && ResetPasswordForm.controls.newPassword.invalid">
                    <span *ngIf="ResetPasswordForm.controls.newPassword.error.required">This field is required.</span>
                </mat-error>
            </mat-form-field>
       

            
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Confirm Password</mat-label><br>
                <input matInput formControlName="confirmPassword" type="password" id="confirmPassword" required>
                <mat-icon (click)="viewConfirmPassword()" class="verification">visibility</mat-icon>
                <mat-error *ngIf="ResetPasswordForm.controls.confirmPassword.touched && ResetPasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="ResetPasswordForm.controls.confirmPassword.error.required">This field is required.</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(ResetPasswordForm.controls.confirmPassword.invalid)">
                    <span>Passwords Do Not Match. Please Re-Enter Passwords.</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleResetPasswordSubmit()" [disabled]="validateSubmit() || !(ResetPasswordForm.valid && ResetPasswordForm.dirty)">Update</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>